<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_login %><br>
    <%= f.text_field :user_login %>
  </div>
  <div class="field">
    <%= f.label :user_password %><br>
    <%= f.text_field :user_password, value: '' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :hobbies %> (please insert data separeted by a |)<br>
    <%= f.text_area :hobbies %>
  </div>
  <% if @current_user_object.try(:is_real_admin?) %>
    <div class="field">
      <%= f.label :is_real_admin %><br>
      <%= f.number_field :is_real_admin %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
