<div id="<%= dom_id user_desc %>">
  <p>
    <strong>Lname:</strong>
    <%= user_desc.lname %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= user_desc.fname %>
  </p>

  <p>
    <strong>Sname:</strong>
    <%= user_desc.sname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_desc.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_desc.user_id %>
  </p>

</div>
