<!DOCTYPE html>
<html>
  <head>
    <title>NewInfSecTester</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class = "container">  
    <div style = "text-align: right;">
      <%= link_to 'В начало', {controller: :nobody, action: :start_page}, class: 'btn btn-primary' %>
      <%= link_to 'Выход', {controller: :nobody, action: :logout}, class: 'btn btn-danger' %>
    </div> 
    <%= yield %>
  </div>
  </body>
</html>
